__pycache__/
xXx*
network_xXx*
sota/ExquisiteNetV2/cifar-10-batches-py
*.bmp
build/
tests/*/outputs
sota/Pointnet_Pointnet2_pytorch/models/llmge-models/
sota/Pointnet_Pointnet2_pytorch/results/
0/
1/
first_test/
data/
.DS_Store
mistralai
**/*.egg-info
output/
**/models/
**/weights/
**/results/
**/llmge_models/
